<nav class="navbar" role="navigation" aria-label="main navigation">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <video alt="Ethereum.org - Light" width="60" height="60"
        src="https://ucarecdn.com/b33f5c86-2d0b-4063-99e1-0acfc6d15a00/ethwhiteoptimized2.mp4"
        autoplay="autoplay" loop="loop" muted="muted"></video>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item label">
        {{text}}
      </a>
    </div>
  </div>
</nav>